<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LinFu.DynamicProxy" publicKeyToken="62a6874124340d6e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.29500" newVersion="1.0.4.29500" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>